MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/cost_manager?retryWrites=true&w=majority

PORT1=3001
PORT2=3002
PORT3=3003
PORT4=3004

DEVELOPER1_FIRST_NAME=Maor
DEVELOPER1_LAST_NAME=Kurztag
DEVELOPER2_FIRST_NAME=Jane
DEVELOPER2_LAST_NAME=Doe
